.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.inputMessage {
  font-family: "Courier New";
  font-size: large;
  color: lightgreen;
}

.cardStyle {
  margin-top: 5%;
}

.globeLogo {
  max-width: 30%;
  max-height: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.titleStyle {
  text-align: center;
  color: darkgreen;
  font-variant: normal;
}

/* smaller phone viewpoints */
@media only screen and (min-width: 1px) and (max-width: 479px) {
  .cardStyle {
    margin-top: 25%;
  }
}

/* small devices and most phones */
@media only screen and (min-width: 480px) {
  .cardStyle {
    margin-top: 25%;
  }
}

/* most tablets */
@media only screen and (min-width: 768px) {
  .cardStyle {
    margin-top: 10%;
  }
}

/* smaller desktop viewpoints */
@media only screen and (min-width: 992px) {
  .cardStyle {
    margin-top: 10%;
  }
}

/* large devices and wide screens */
@media only screen and (min-width: 1200px) {
  .cardStyle {
    margin-top: 5%;
  }

  .globeLogo {
    max-width: 20%;
    max-height: 20%;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}