.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* smaller phone viewpoints */
@media only screen and (min-width: 1px) and (max-width: 479px) {

}

/* small devices and most phones */
@media only screen and (min-width: 480px) {

}

/* most tablets */
@media only screen and (min-width: 768px) {

}

/* smaller desktop viewpoints */
@media only screen and (min-width: 992px) {

}

/* large devices and wide screens */
@media only screen and (min-width: 1200px) {

}