.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coin-search {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.coin-input::placeholder {
  color: #e2e2e2;
}